<h1 xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <%= @season.name %>, frå <%= I18n.localize @season.from_date %> til <%= I18n.localize @season.to_date %> </h1>
<p>Fint om du kan krysse av for kva dagar du er tilgjengeleg og kva dagar du eventuelt ønskjer spesielt å jobbe.
  Dette vil vere eit nyttig verktøy ved byte av vakter, sjukdom etc.</p>
<p>Alle avkrysningar vert lagra automatisk. Eit lite gult blink viser at valet har vorte lagra.</p>
<table class="table table-striped table-condensed seasons-table" border="1">

  <% @season.open_weeks_with_days.each do |k, v| %>
      <tr>
        <th align="left" colspan="<%= v.length %>"> Veke: <%= k %>:</th>
      </tr>
      <tr>
      <% v.each do |day| %>
      <% status = day.availability_status_for(current_user.id) %>
            <td><b><%= I18n.localize day.date, :format => :long %></b>
              <form method="post" id="<%= "status_form_#{status.id}" %>" action="" role="form" class="form-horizontal">
                <input type="hidden" value="<%= status.id %>" id="available_status_id_<%= status.id %>" class="status_field"/>
                <label for="available_<%=status.id%>">
                  <input id="available_<%=status.id%>" type="radio" value="<%="available"%>"
                         onclick="post_available(<%=status.id%>, this);"
                         name="available" <%= status.selected_availability("available") %> />
                  Er tilgjengeleg
                </label>
                <label for="unavailable_<%=status.id%>">
                  <input id="unavailable_<%=status.id%>" type="radio" value="<%="unavailable"%>"
                         onclick="post_available(<%=status.id%>, this);"
                         name="available" <%= status.selected_availability("unavailable") %> />
                  Ikkje tilgjengeleg
                </label>
                <label for="undecided_<%=status.id%>">
                  <input id="undecided_<%=status.id%>" type="radio" value="<%="undecided"%>"
                         onclick="post_available(<%=status.id%>, this);"
                         name="available" <%= status.selected_availability("undecided") %>  />
                  Veit ikkje
                </label>
                <div class="checkbox">
                  <label for="on_wishlist_id_<%=status.id%>">
                    <input name="on_wishlist" type="hidden" value="0" />
                    <input id="on_wishlist_id_<%=status.id%>" type="checkbox" name="on_wishlist"
                           onclick="post_on_wishlist(<%=status.id%>, this);"
                           value="1" <%= status.on_wishlist_checked %> />
                    Ønsker å jobbe denne dagen
                  </label>
                </div>
              </form>
            </td>
      <% end %>
      </tr>
  <% end %>
</table>
